<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jonathandilks.baegley.g52grp_team2_2016_basic_bits" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/teddybear"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- App needs to have a MAIN activity -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- declaring the meta data for the searchable xml -->
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
    </application>

</manifest>